*{
    position: relative;
}



img{
    margin-left: 50px;
    height: 50px;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    position: relative;;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    padding: 10px;
    margin-top: 3px;
    
}
nav li a{
    text-decoration: solid;
    color: black;
    font-size: 20px;
    

}
h3{
    padding: 12px;
    margin-left: 0;
    padding-left: 0;
    width: 14px;
    margin-top: 10px;
}
 nav li :hover{
    color: rgb(0, 0, 0);
    background-color: bisque;
    width: 20px;
    
}   
nav img{
    width: 50px;
    height: 40px;
    margin-right: 5px;
    margin: auto;
}
.nav{
    display: flex;
}
button{
    width: 100px;
    background-color: rgba(98, 184, 227, 0.908);
    border-radius: 5px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.log{
    width: 100px;
    background-color: rgba(98, 184, 227, 0.908);
    border-radius: 5px;
    
    padding: 1px;
    
    height: 29px;
    margin-top: 15px;
}
.image{
    
    margin-top: 200px;
    margin-right: 90px;
    margin-left: 0;
    
    
    
} 
.h{
    text-decoration: none;
    color: black;
    font-size: smaller;
    position: relative;;

}
footer{
    background-color: rgb(235, 237, 239);
    
    
    position: relative;

}
.blue{
    color: rgb(43, 104, 226);
    font-size: medium;
}
.size1{
    font-size: 60px;
}

.janu{
    color:  rgb(43, 104, 226);
    text-decoration: none;
} 
.bottum{
    background-color: rgb(66, 64, 64);
    font-size: 15px;
    height: 25px;
    color: antiquewhite;
    text-align: center;
    padding: 3px;

    position: relative;
    margin-left: 30px;
}
.nav1{
 
    display: flex;
    
    position: relative;
    justify-content: center;
}
.icon{
    text-align: center;
    
    margin-left: 100px;
    
}
.low{
    display: flex;
    list-style: none;
    position: relative;

    width: 100%;
    justify-content: center;
    margin-left: 29px;
}

.png{
    margin-left: 400px;
    height: 300px;
}
.grid1{
    display: grid;
}
.under{
    padding: 12px;
    margin-left: 0;
    padding-left: 0;
    width: 14px;
    margin-top: 0;
}