.grid{
    display: grid;
    grid-template-columns: auto auto;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

.p2{
    border-radius: 5px;
    border-color: black;
    border: 1px;
    border-style: solid;
    /* background-color: aquamarine; */
    
}
.r1{
    width:530px;
}
.r3{
    width: 350px;
    border-radius: 8px;
    height: 30px;
    margin-left: 20px;
}
.r4, .r5{
    display: flex;
    margin-left: 24px;
}
.r7{
    margin-left: 145px;
    margin-top: 16px;
}
.r6{
    margin-left: 24px;
}
button{
    padding: 10px;
    background-color: rgb(49, 148, 223);
    width: 390px;
    border-radius: 5px;
    margin-left: 3px;
    

}
.bu{
    color: black;
    text-decoration: none;
    
}
.google{
    height: 55px;
    text-align: center;
}
.p1 {
   text-align: center;
   font-size: 40px;
}
.p3{
    text-align: center;
    color: rgb(98, 97, 97);
}
.text{
    text-align: center;
}
.last{
    text-align: center;
}
.p2{
    margin-top: 200px;
    margin-left: 130px;
    border-width: 1px;

}
.pro{
    height: 800px;
    margin-top: 70px;
}
